* {
  margin: 0px;
  padding: 0px;
}

.landing{
  display: flex;
  background-color: #171217;
  min-height: 75vh;
}

.landing > .landingleft{
  margin-left: 5vw;
  margin-right: 5vw;
  color: white;
  min-height: 75vh;
  width: 50vw;
}

.landing > .landingleft > h1{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 38px;
    color: white;
    padding-top: 25vh;
}

.landing > .landingleft > p{
  padding-top: 3vh;
  font-family: "Orbitron", sans-serif;
  font-weight: 100;
}

.landing > .landingright{
  height: 75vh;
 
  width: 50vw;
}

.landing > .landingright > .img1{
  position: absolute;
  background-image: url(images/perform-about.webp);
  background-size: cover;
  height: 17vw;
  width: 37vw;
  top: 50%;
  transform: translateY(-35vh);
}

.landing > .landingright > .img2{
  position: absolute;
  background-image: url(images/perform-about-2.jpeg);
  height: 13vw;
  width: 25vw;
  background-size: cover;
  top: 17vw;
  right: 8vw;
}

.AboutUsHolder {
  background-color: #f4f4f9;
  overflow: hidden;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.AboutUsHolder > .AboutMembers > h1{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  font-size: 48px;
  color: black;
  padding-bottom: 5vh;
}
.expandable-text {
  justify-self: center;
  width: 90%;
  background-color: #f4f4f9;
  border-bottom: 2px solid black;
}

.summary {
  position: relative; /* Add this to control layering */
  font-family: "Orbitron", sans-serif;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 10px;
  z-index: 2; /* Ensure the summary is on top */
}


.details {
  position: relative; /* Add this to control layering */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0;
  z-index: 1; /* Set lower than .summary */
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
}

.details:not(.hidden) {
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.5s ease-in-out, opacity 0.2s ease-in-out;
}

.AboutImage{
  position: fixed;
  transition: background-image 0.5s ease-out, transform 0.15s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out;
  pointer-events: none;
  height: 0px;
  width: 0px;
  top: 2;
  z-index: 999;
  background-size: cover;
  transform: translateY(-250px);
}

@media screen and (max-width: 624px) {
  .landing{
    display: block;
  }
  .landing > .landingleft{
    width: 90vw;
    margin-right: 5vw;
  }
  .landing > .landingright{
    width: 100vw;
    height: 35vw;
  }
  .landing > .landingright > .img1{
    position: static;
    width: 90vw;
    height: 30vw;
    margin-left: 5vw;
    margin-right: 5vw;
    transform: translate(0);
  }
  .landing > .landingright > .img2{
    display: none;
  }
}