* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.holder {
  background-color: bisque;
  padding: 20px;
  overflow: hidden;
}

.expandable-text {
  width: calc(100% - 4vh); 
  margin-right: 2vh; 
  margin-left: 2vh; 
  background-color: #ffffff;
  border-bottom: 2px solid black;
}

.summary {
  position: relative; /* Add this to control layering */
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 10px;
  z-index: 2; /* Ensure the summary is on top */
}


.details {
  position: relative; /* Add this to control layering */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out, opacity 1s ease-in-out;
  opacity: 0;
  z-index: 1; /* Set lower than .summary */
}

.details:not(.hidden) {
  padding: 10px;
  max-height: 1000px;
  opacity: 1;
}
