body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbuffer{
    min-height: 62px;
    background-color: black;
}
.topnav {
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    font-family: 'Bebas Neue';
    min-height: 62px;
    position: fixed;
    width: 100vw;
    z-index: 99;
    text-align: center;
    transition: background-color 0.5s;
    color: grey;
}

.topnav a {
    display: inline-block;
    text-align: center;
    padding: 20px 56px;
    text-decoration: none;
    font-size: 20px;
    height: 100%;
    margin: auto;
    z-index: 99;
    transition: text-decoration 1.5s;
    color: grey;
}

.topnav a:hover {
    text-decoration: underline double;
    text-decoration-color: black;
    
}

.topnav a.active {
    text-decoration: underline double;
    text-decoration-color: black;
    color:white;
}

.topnav .icon {
    display: none;
    background-image: url(images/menu.png);
    height: 32px;
    width: 40px;
    margin-right: 20px;
    padding: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3px;
}

.topnav a.icon:hover{
    background-color: rgba(0,0,0,0);
}



@media screen and (max-width: 624px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 624px) {
    .topnav.responsive {
        position: fixed;
        background-color: white;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a.active{
        color: black;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        background-color: white;
        color: grey;
    }

}