*{
    margin: 0px;
}


.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) , url(images/front-image.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 85vh;
    text-align: center;
}

.hero > .text{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 36px;
    position: absolute;
    top: 17vh;
    left: 50%;
    transform: translate(-50%);
    width: 40vw;
    color: white;
    margin: auto;
}

.hero > .text > h1{
    margin-bottom: 15vh;
    font-family: 'New Rocker';
    font-size: 130px;
    color: rgb(255, 255, 255);
    line-height: 65px;
    letter-spacing: 1.5px;
    width: 100%;
    text-align: center;
}

.heroButton{
    background-image: linear-gradient(to right, rgb(199, 220, 230,0.8), rgb(199, 220, 230,1));
    display: inline-block;
    padding-top: 5px;
    line-height: 30px;
    margin-top: 2vh;
    color: rgb(36, 35, 35);
    border-radius: 1px;
    height: 55px;
    width: 65%;
    position: absolute;
    border: none;
    cursor: pointer;
    font-family: 'Bebas Neue';
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 900;
    z-index: 2;
    transform: translate(-50%);
}

.twoElement{
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding: 20px;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 30px;
    background-color: #171217;
}

.box{
    overflow: hidden;
    position: relative;
}
.box > img{
    width: 100%;
    height: 100%;
    transition: transform 1.5s, filter 1.5s;
    filter: brightness(50%);
    object-fit: contain;
}
.box > img:hover{
    filter: brightness(90%);
    transform: scale(1.3);
}
.box > .text{
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;

}

.bigElement{
    padding-left: 20px;
    padding-right: 20px;
    height: 80vh;
    position: relative;
}
.bigElement > .content1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) , url(images/front-image.jpg);
    background-size: cover;
    background-position: center;
}

.bigElement > .text{
    position: absolute;
    top: 15vh;
    left: 35%;
    transform: translate(-50%);
    width: 35vw;
    color: white;
    margin: auto;
    z-index: 2;
}
.bigElement > .text > h1{
    font-family: 'Bebas Neue';
    font-size: 69px;
    line-height: 65px;
    letter-spacing: 1.5px;
    width: 100%;
}

.bigElementButton{
    background-image: linear-gradient(to right, rgba(255, 117, 24, 0.8), rgba(255, 117, 24, 1));
    display: inline-block;
    color: white;
    border-radius: 1px;
    height: 45px;
    width: 65%;
    position: absolute;
    border: none;
    cursor: pointer;
    font-family: 'Bebas Neue';
    font-size: 20px;
    z-index: 2;
}

.footer{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    width: 100%;
}

.footer > .logo{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
}

.footer > .text{
    position: absolute;
    width: calc(50% - 60px);
    left: 50%;
}

.footer > .text > h1{
    width: 100%;
    text-align: right;
}
.footer > .text > table{
    width: 100%;
}

th{
    text-align: left;
    padding-bottom: 20px;
    align-content: start;
}
td{
    text-align: right;
    vertical-align: top;
}
.merchWrapper {
    background-color: #f4f4f9;
    height: 60vh;
}
.merchHighlight {
    margin-top: 0vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    transform: translate(0px,-12vh);
}

.merchWrapper > h1 {
    padding-top: 5vh;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 48px;
    color: black;
    text-align: center;
}

.carousel-container {
    position: relative;
    width: 80%;
    max-width: 900px;
    overflow: hidden;
    padding: 0 10%; /* Padding to show partial images */
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px; /* Spacing between images */
}

.carousel-item {
    width: calc((100% - 80px) / 3); /* Dynamic width for 3 full images */
    flex-shrink: 0;
    border-radius: 10px; /* Optional: Slight rounding for aesthetics */
}
.carousel-item > a {
    text-decoration: none;
    color: black;
    text-align: center;
}
.carousel-item > a > img{
    height: 80%;
    width: 100%;
    object-fit: cover;
}

.carousel-container > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 10;
}

.carousel-item:hover{
    background-color: rgb(128, 128, 128, 0.5);
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}


button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.music-wrapper{
    background-color: aquamarine;
}

.follow-text {
    position: relative;
    top: 50%;
    left: 50%;
    height: 0px;
    transform: translate(-50%, -50%); /* Ensure the text remains centered horizontally */
    font-size: 24px;
    font-weight: bold;
    pointer-events: none; /* Prevent interaction */
    transition: transform 0.15s ease-out; /* Add slight smoothness to visual transformations */
}

.musicGrid{
    display: grid;
    height: 75vw;
    grid-template-areas: 
                        "a b c d"
                        "a e f g"
                        "a h i j";
    gap: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.empty{
    grid-area: a;
}
.music1{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    grid-area: b;
    cursor: pointer;
}
.music2{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    grid-area: c;
    cursor: pointer;
}
.music3{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    grid-area: d;
    cursor: pointer;
}
.music4{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    grid-area: e;
    cursor: pointer;
}
.music5{ 
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    grid-area: f;
    cursor: pointer;
}
.music6{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    grid-area: g;
    cursor: pointer;
}
.music7{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    grid-area: h;
    cursor: pointer;
}
.music8{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    grid-area: i;
    cursor: pointer;
}
.music9{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    grid-area: j;
    cursor: pointer;
}


@media screen and (max-width: 624px) {
    .hero > .text{
        width: 70vw;
    }

    .bigElement > .text{
        width: 70vw;
        transform: translate(-20%);
    }

    .twoElement{
        grid-template-columns: 1fr;
        height: 120vh;
    }

    
    .footer{
        display: block;
    }
    .footer > .logo{
        position: static;

    }
    .footer > .text{
        position: static;
        width: calc(100% - 40px);
    }
}

